/** @format */

.about-wrapper {
  /* height: 35rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid red; */
}
.about-wrapper-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrapper-left img {
  background-size: contain;
  background-position: center;
  width: 100%;
}
.about-wrapper-right {
  padding: 1rem;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about-wrapper-right h2 {
  color: #04051a;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.about-wrapper-right p {
  color: #0c1c30;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.6rem;
}
.about-wrapper-right span {
  font-weight: 600;
  color: #162435e8;
}
@media only screen and (max-width: 550px) {
  .about-wrapper {
    height: auto;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 100%;
    /* border: 1px solid red; */
  }
  .about-wrapper-left {
    height: 100%;
  }
  .about-wrapper-right {
    padding: 1rem;
  }
}
